/* 
* 	Stylus File for DMP 2011
*	Author:		Christopher Zotter
*	Date:		06/06/2011
*	Version:	1.0
*/

#dmp_body
	width 770px
	padding 15px
	border 1px solid #CCC
	margin-left auto
	margin-right auto
	font-family 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;

/* Siteheader */
#dmp_header
	font-size 25px 
	margin 15px 0px

/* Main */
#dmp_main
	margin 15px 0px

#dmp_main .dmp_description 
	font-size 13px

#dmp_main .dmp_courses
	margin-top 30px

#dmp_main .dmp_coursitem
	margin-top 15px

/* Sitefooter */
#dmp_footer 
	font-size: 10px
	margin-top: 30px